.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-image {
  height: 200px;
}
.not-found-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #262626;
}
.not-found-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #989898;
}
.go-home-button {
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 32px;
  gap: 8px;
  width: 141px;
  height: 48px;
  background: #4094ef;
  border-radius: 12px;
  color: #ffffff;
}
